@model IEnumerable<InventoryManagement.Models.Faq>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Faqs</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-primary" asp-action="Create">Add New</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                       
                                        <th>
                                            @Html.DisplayNameFor(model => model.Type)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Question)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Answer)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsActive)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedBy)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedDate)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Question)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Answer)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsActive)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                <a class="btn btn-success fa fa-edit btn-sm" asp-action="Edit" asp-route-id="@item.Id"></a>
                                                <a class="btn btn-secondary fa fa-bookmark btn-sm" asp-action="Details" asp-route-id="@item.Id"></a>
                                                <a class="btn btn-danger fa fa-trash-alt btn-sm" asp-action="Delete" asp-route-id="@item.Id"></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section scripts{ 

  <script src="~/js/DataFile.js"></script>
}*@
